* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    background: #42455a;
}

.about-container {
    width: 100%;
    min-height: 200vh;
    background: #42455a;
}

.main-nav ul {
    display: inline-flex;
    margin: 50px;
}

.main-nav ul li {
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
}

.main-nav ul li a {
    text-decoration: none;
    color: #b2b1b1;
}

.active {
    color: #19dafa !important;
}

.logo img {
    width: 60px;
    margin: -30px 48px 10px 0;
}

.login-btn {
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.login-btn span {
    display: block;
    padding: 8px 22px;
}

.admin-btn {
    top: 40px;
    right: 200px;
    position: absolute;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.admin-btn span {
    display: block;
    padding: 8px 22px;
}

.separator {
    height: 2px;
    background-color: #000;
    margin-top: -45px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, transparent, #000, transparent);
}

.banner {
    width: 80%;
    height: 70%;
    top: 17%;
    left: 130px;
    color: white;
}

.banner-text {
    float: left;
}

.banner-text h1 {
    font-size: 43px;
    margin-left: 40px;
}

.banner-text p {
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #b5b3b3;
}

.banner-text h3 {
    margin-left: 40px;
}

.banner-text ul {
    margin-left: 60px;
}

/* Search bar: https://codepen.io/huange/pen/bGqMqM  */
.search {
    width: 100%;
    position: relative;
    display: flex;
}

#searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 21px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

#searchTerm:focus {
    color: #161717;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 30%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-results {
    list-style-type: none;
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    position: absolute;
    top: 46%;
    left: 36%;
    font-size: 12px;
    max-width: 350px;
}

.search-results li {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    max-width: 100%;
}

.search-results h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.search-results p {
    margin: 10px 0;
}

.inventory-results {
    list-style-type: none;
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    position: absolute;
    font-size: 12px;
}

.inventory-results li {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    max-width: 100%;
}

.inventory-results h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.inventory-results p {
    margin: 10px 0;
}

.admin-wrap {
    width: 100%;
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
}


.admin-update-header {
    margin-top: 10px;
}

.admin-delete-header {
    margin-top: 10px;
}

.userSearch-results {
    list-style-type: none;
    display: block;
    margin-top: 10px;
}

.userSearch-results p {
    margin-left: 100px;
    font-size: 16px;
    color: #f9f9f9;
}

#userUpdateResults p {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 16px;
}

.admin-update-results p {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 16px;
}

.admin-banner-text {
    float: left;
    margin-left: 40px;
}

.admin-banner-text h1 {
    font-size: 43px;
}